{% extends 'base.html' %}

{% block content %}
<h1>Products</h1>
<div class="row">
    {% for product in products %}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ product.banner.url }}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <a href="#" class="btn btn-primary">Call Joshua</a>
                </div>
            </div>
                        
        </div>
    {% endfor %}
</div>
{% endblock %}